html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* Calcite Theme Editor: https://esrips.github.io/calcite-theme-editor/ */


.calcite-mode-light,
.calcite-mode-dark {
  color-scheme: dark;
  --calcite-mode-name: dark;
  --calcite-color-brand: #FFD500;
  --calcite-color-brand-hover: #BFA000;
  --calcite-color-brand-press: #9F8500;
  --calcite-color-text-1: #EDE095;
  --calcite-color-text-2: #FBF8E7;
  --calcite-color-text-3: #FFFFFF;
  --calcite-ui-text-highlight: #FFD500;
  --calcite-color-text-inverse: #000000;
  --calcite-color-text-link: #BFA000;
  --calcite-link-blue-underline: rgba(255, 213, 0, 0.5);
  --calcite-color-background: #353535;
  --calcite-color-foreground-1: #2B2B2B;
  --calcite-color-foreground-2: #202020;
  --calcite-color-foreground-3: #131313;
  --calcite-color-inverse: #D4D4D4;
  --calcite-color-inverse-hover: #AAAAAA;
  --calcite-color-inverse-press: #7F7F7F;
  --calcite-color-border-1: #3D3300;
  --calcite-color-border-2: #433800;
  --calcite-color-border-3: #493D00;
  --calcite-color-border-input: #4F4200;
  --calcite-ui-icon-color: currentColor;
  --calcite-color-status-info: #BFA000;
  --calcite-color-status-success: #36DA43;
  --calcite-color-status-warning: #FFC900;
  --calcite-color-status-danger: #FE583E;
  --calcite-color-status-danger-hover: #FF0015;
  --calcite-color-status-danger-press: #D90012;
}


.calcite-mode-dark-alt {
  color-scheme: dark;
  --calcite-mode-name: dark;
  --calcite-color-brand: #D99F41;
  --calcite-color-brand-hover: #B07A23;
  --calcite-color-brand-press: #93661D;
  --calcite-color-text-1: #FCCCCC;
  --calcite-color-text-2: #ffefef;
  --calcite-color-text-3: #FFFFFF;
  --calcite-ui-text-highlight: #D99F41;
  --calcite-color-text-inverse: #000000;
  --calcite-color-text-link: #B07A23;
  --calcite-link-blue-underline: rgba(217, 159, 65, 0.5);
  --calcite-color-background: #946262;
  --calcite-color-foreground-1: #785050;
  --calcite-color-foreground-2: #5A3C3C;
  --calcite-color-foreground-3: #362424;
  --calcite-color-inverse: #87AFAF;
  --calcite-color-inverse-hover: #639595;
  --calcite-color-inverse-press: #4A7070;
  --calcite-color-border-1: #624040;
  --calcite-color-border-2: #5A3A3A;
  --calcite-color-border-3: #523535;
  --calcite-color-border-input: #6B4545;
  --calcite-color-icon-color: currentColor;
  --calcite-color-status-info: #B07A23;
  --calcite-color-status-success: #36DA43;
  --calcite-color-status-warning: #FFC900;
  --calcite-color-status-danger: #FE583E;
  --calcite-color-status-danger-hover: #FF0015;
  --calcite-color-status-danger-press: #D90012;
}


.esri-widget,
.esri-search {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-foreground-1);
}

.esri-input,
.esri-menu {
  color: var(--calcite-color-text-2);
  background-color: var(--calcite-color-background);
}

.esri-menu__list-item--focus,
.esri-menu__list-item:hover,
.esri-menu__list-item:focus {
  background-color: var(--calcite-color-foreground-1);
}

.esri-widget--button {
  color: var(--calcite-color-text-1);
  background-color: var(--calcite-color-foreground-3);
}

/*
.esri-widget__heading,
.esri-bookmarks__bookmark,
.esri-bookmarks__bookmark-name {
  color: var(--calcite-color-text-2) !important;
  background-color: var(--calcite-color-foreground-1) !important;
}*/


calcite-shell[content-behind] #center-container {
  margin: 0 50px 0 50px;
}

--calcite-navigation[slot="header"]  {
  --calcite-navigation-border-color: var(--calcite-color-brand);
}

calcite-navigation[slot="header"] [slot] {
  margin: 0 0.2rem;
}

calcite-navigation[slot="header"] calcite-action[slot="navigation-action"]:first-of-type {
  margin-left: 1rem;
  pointer-events: none;
}

calcite-navigation[slot="header"] calcite-navigation-logo {
  pointer-events: none;
  --calcite-color-text-1: var(--calcite-color-brand);
}

calcite-navigation calcite-action[slot="navigation-action"] {
  --calcite-color-icon-color: var(--calcite-color-brand);
}

calcite-loader#app-loader {
  --calcite-loader-size: 8rem;
  align-self: center;
  justify-self: center;
}

calcite-modal {
  --calcite-modal-content-background: var(--calcite-color-background);
}

calcite-modal [slot="secondary"] calcite-label {
  --calcite-label-margin-bottom: 0;
}

calcite-list-item-- {
  --calcite-color-text-1: var(--calcite-color-brand);
}

#submissions-count-chip {
  margin: auto auto auto 10px;
}

#center-container {
  height: 100%;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#view-container {
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

